<td><%= link_to image_tag(image.image_url(:thumb).to_s), image %></td>
<td><%= image.height %></td>
<td><%= image.width %></td>
<td><%= image.title %></td>
<td><%= image.caption %></td>
<td><%= image.owner.username.to_s %></td>
<% if current_user == image.owner %>
	<td><%= link_to 'Show', image %></td>
	<td><%= link_to 'Edit', edit_image_path(image) %></td>
	<td>
		<% unless image.galleries.empty? then image.galleries.each do |gallery| %>
	        <%= link_to(gallery.name, gallery_path(gallery)) %><br>
	    <% end end %>
	    <%= link_to 'Add to gallery...', galleries_selection_path(image) %>
	    <%= link_to 'Share', share_image_selection_path(image) %> 
	</td>
<% else %>
	<td> This item is shared with you!</td>
<% end %>
<td><%= unless image.in_trash? then link_to 'Trash image?', trash_image_path(image), method: :post else link_to "IN TRASH.", untrash_image_path(image), method: :post end %></td>