<h1>Listing images</h1>

<table>
  <%= render partial: 'image_table_heading' %>

  <tbody>
    <% images.each do |image| %>
    <tr>
      <%= render partial: 'image_row', locals: {image: image} %>
      	<td><% unless image.galleries.empty? then image.galleries.each do |gallery| %>
	  	<%= link_to(gallery.id, gallery_path(gallery)) %><br>
		<% end end %>
			<%= link_to('Add to gallery...', galleries_selection_path(image)) %>
		</td>
	</tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Image', new_image_path %>
